* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    margin-right: 20px;
}

.background {
    background-color: #001a1a;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    color: white;
    user-select: none;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #db17ca;
}

#reset {
    background-color: #8b8bb7;
}








.post {
    color: black;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    height: 100%;
    margin-left: 10px;
    width: 700px;
    display: flex;
    justify-content: space-between;

}

.body {
    text-align: center;
}

.img {
    height: 50px;
    width: 25px;
    margin-right: 0px;
}

body {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.comment {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}